{{#if visible}}
  {{#transition-group transitionClass="modal-fade" class="modal-fade-group"}}
    <div class="modal-window" style={{style}}>
      <i class="modal-window-close remove circle icon" onclick={{action "close"}}></i>
      <div class="modal-window-content">
        {{yield}}
      </div>
    </div>
    <div class="modal-window-overlay" onclick={{action "close"}}></div>
  {{/transition-group}}
{{/if}}
