/* Make element with draggable parameter draggable and do not select text in them. */
[draggable]             { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }

/* Partial overlay */
.partial-overlay         { background: #fff; position: fixed; top: 0; right: 0; bottom: 0; z-index: 10; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.partial-overlay-content { position: absolute; top: 90px; left: 50px; right: 50px; bottom: 50px; overflow-x: visible;overflow-y: auto; padding: 20px}
.partial-overlay-overlay { background: rgba(0, 0, 0, 0.1);position: fixed;top: 0;left: 0px;right: 0;bottom: 0;z-index: 9; }
.partial-overlay-close   { position: absolute;top: 15px;right: 20px;font-size: 40px !important;cursor: pointer;}
.partial-overlay-wrap.focused.init-class > .partial-overlay  { right: -40%;}
.partial-overlay-wrap.focused > .partial-overlay             { right: 0%;}
.partial-overlay-wrap.blurred > .partial-overlay             { right: -40%;}
.partial-overlay-wrap.blurred > .partial-overlay-overlay     {pointer-events: none;}

/* Image thumbnail */
.image-thumbnail { display: inline-block; vertical-align: middle; }

/* Loading bar */
body.loading #loading-bar { display: block; }
#loading-bar { display: none; background: #ffffff9e url(../ember-c-base-pack/loading.svg) no-repeat 50% 50%; background-size: 150px auto; min-height: 200px; position: fixed; top: 50%; margin: -100px auto 0; z-index: 10000; border-radius: 50%; width: 200px; left: 0; right: 0; }

/* Iframe box */
.wait-block,
.loading-block-loader,
.iframe-box { background: transparent url(../ember-c-base-pack/loading.svg) no-repeat 50% 50%; background-size: 150px auto; overflow: hidden; width: 100%; min-height: 130px; border: 0px; }
.wait-block.loaded,
.iframe-box.loaded { background: transparent; }

/* Avatar box */
.avatar-box               { vertical-align: middle; display: inline-block; overflow: hidden; }
.avatar-box.rounded > img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: block; }

/* Split box */
.split-window-double        { position: absolute; bottom: 0; left: 0; right: 0; }
.split-window-double > .win { position: absolute; bottom: 0; top: 0; overflow: hidden; overflow-y: auto; }

/* c-country-label - Flag and country label */
.country-label                               { display: inline-block;}
.country-label > .flag32                     { vertical-align: middle; position: relative; top: -2px;}

/* modal window */
.modal-window         { background: #fff; position: fixed; top: 50%; left: 50%; bottom: -50%; transform: translate(-50%,-50%); z-index: 10; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.modal-window-content { position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px; overflow-x: visible;overflow-y: auto; padding: 20px}
.modal-window-overlay { background: rgba(0,0,0,.64);position: fixed;top: 0;left: 0px;right: 0;bottom: 0;z-index: 9; }
.modal-window-close   { position: absolute;top: 20px;right: 0;font-size: 40px !important;cursor: pointer;}
.modal-window-wrap.init-class > .modal-window  { right: -40%;}
.modal-window-wrap > .modal-window             { right: 0%;}
