/* Make element with draggable parameter draggable and do not select text in them. */
[draggable]             { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }

/* Partial overlay */
.partial-overlay         { background: #fff; position: fixed; top: 0; right: 0; bottom: 0; z-index: 10; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.partial-overlay-content { position: absolute; top: 90px; left: 50px; right: 50px; bottom: 50px; overflow-x: visible;overflow-y: auto; padding: 20px}
.partial-overlay-overlay { background: rgba(0, 0, 0, 0.1);position: fixed;top: 0;left: 0px;right: 0;bottom: 0;z-index: 9; }
.partial-overlay-wrap.focused.init-class > .partial-overlay  { right: -40%;}
.partial-overlay-wrap.focused > .partial-overlay             { right: 0%;}
.partial-overlay-wrap.blurred > .partial-overlay             { right: -40%;}
.partial-overlay-wrap.blurred > .partial-overlay-overlay     { pointer-events: none;}
.partial-overlay-close                  { position: absolute; right: 20px;z-index: 1;font-size: 40px !important;cursor: pointer; left: -50px; top: 64px; z-index: 9;  }
i.icon.partial-overlay-close            { padding-top: 15px; padding-left: 3px; height: 50px; border-bottom-left-radius: 24px; background-color: #fff; width: 50px; z-index: 9; 
                                          top: /*48*/ 72px; padding-top: 20px; height: 59px; padding-left: 11px; left: -31px; border-top-left-radius: 39px; border-bottom-left-radius: 39px; }

/* Image thumbnail */
.image-thumbnail { display: inline-block; vertical-align: middle; }

/* Loading bar */
body.loading #loading-bar { display: block; }
#loading-bar { display: none; background: #ffffff url(../ember-c-base-pack/loading.svg) no-repeat 50% 50%; background-size: 150px auto; min-height: 200px; position: fixed; top: 50%; margin: -100px auto 0; z-index: 9999999999; border-radius: 50%; width: 200px; left: 0; right: 0; }

/* Iframe box */
.wait-block,
.loading-block-loader,
.iframe-box { background: transparent url(../ember-c-base-pack/loading.svg) no-repeat 50% 50%; background-size: 150px auto; overflow: hidden; width: 100%; min-height: 130px; border: 0px; }
.wait-block.loaded,
.iframe-box.loaded { background: transparent; }

/* Avatar box */
.avatar-box               { vertical-align: middle; display: inline-block; overflow: hidden; }
.avatar-box.rounded > img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; display: block; }

/* Split box */
.split-window-double        { position: absolute; bottom: 0; left: 0; right: 0; }
.split-window-double > .win { position: absolute; bottom: 0; top: 0; overflow: hidden; overflow-y: auto; }

/* c-country-label - Flag and country label */
.country-label                               { display: inline-block;}
.country-label > .flag32                     { vertical-align: middle; position: relative; top: -2px;}

/* Dialog */
#dialog                                      { width: 100%; height: 100%; position: fixed; overflow: hidden; z-index: 99999999998; }
.dialog-fade-enter                           { opacity: 0; }
.dialog-fade-enter.dialog-fade-enter-active  { opacity: 1; -moz-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.dialog-fade-leave                           { opacity: 1; }
.dialog-fade-leave.dialog-fade-leave-active  { opacity: 0; -moz-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

.dialog-background                           { height: 100%; width: 100%; left: 0; top: 0; overflow: hidden; position: fixed; background-color: #000; z-index: 99999999997; opacity: 0.5; /* pointer-events: none; */ }
.dialog-window                               { width: 380px; height: auto; margin-left: -175px; margin-top: -175px; position: fixed; background-color: #ffffff; top: 50%; left: 50%; z-index: 99999999999;
					       padding: 18px 25px; border-radius: 3px; box-shadow: rgba(0,0,0,.25) 0 14px 45px,rgba(0,0,0,.22) 0 10px 18px; }
.dialog-window-close                         { position: absolute; top: 5px; right: 5px; cursor: pointer; }
.dialog-window-title                         { width: 100%; text-align: center; margin-bottom: 18px; margin-top: 6px; font-weight: bold; }
.dialog-window-message                       { width: 100%; text-align: center; margin-bottom: 23px; margin-top: -6px; }
.dialog-window-actions                       { width: 100%; text-align: center; margin-bottom: 10px; }
.dialog-window-actions button                { color: #ffffff; font-weight: bold; margin-left: 4px; margin-right: 4px; background-color: #888888; }
.dialog-window-actions button:hover          { background-color: #aaaaaa; }

/* Modal window */
.modal-window         { background: #fff; position: fixed; top: 50%; left: 50%; bottom: -50%; transform: translate(-50%,-50%); z-index: 15; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.modal-window-content { position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px; overflow-x: visible;overflow-y: auto; padding: 20px}
.modal-window-overlay { background: rgba(0,0,0,.64); position: fixed;top: 0; left: 0px;right: 0;bottom: 0;z-index: 10; }
.modal-window-close   { position: absolute;top: 20px;right: 0;font-size: 40px !important;cursor: pointer;}
.modal-window-wrap.init-class > .modal-window  { right: -40%;}
.modal-window-wrap > .modal-window             { right: 0%;}

.modal-fade-group                           { width: 100%; height: 100%; position: fixed; overflow: hidden; z-index: 500000; }
.modal-fade-enter                           { opacity: 0; }
.modal-fade-enter.modal-fade-enter-active   { opacity: 1; -moz-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.modal-fade-leave                           { opacity: 1; }
.modal-fade-leave.modal-fade-leave-active   { opacity: 0; -moz-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

/* Tabs */
.tabs                               { position: relative; width: 100%; overflow: hidden; /* margin: 1em 0 2em; */ }
.tabs .tab-menu                     { text-align: left; border: 1px solid #d4d4d5; border-radius: 5px 5px 0px 0px; border-top: none; border-right: none; }
.tabs .tab-pane                     { font-size: 16px; padding: 10px 22px; margin: 0; margin-bottom: -1px; margin-right: -3px; display: inline-block; border: 1px solid #d4d4d5; border-left: none; border-bottom: none; border-radius: 5px 5px 0 0; }
.tabs .tab-pane:hover               { background-color: #f7f7f7; }
.tabs a .tab-pane                   { color: #777; border-bottom: 1px solid #d4d4d5;  }
.tabs a .tab-pane.tab-current       { color: #000; }
.tabs .tab-pane.tab-current         { background: none #fff; border-bottom: 1px solid transparent; }
.tabs .tab-pane.tab-current:hover   { border-bottom: 1px solid transparent; }
.tabs .tab-content                  { margin-top: 30px;}

/* Menu dropdown */
.menu-dropdown-wrapper                                          { position: relative; display: inline-block; }
.menu-dropdown                                                  { width: auto; height: auto; position: absolute; z-index: 8; }
.menu-dropdown-right                                            { right: 0px; }
.menu-dropdown-left                                             { left: 0px; }
.menu-dropdown-button                                           { width: auto; height: auto; cursor: pointer; text-align: center; padding: 3px; padding-left: 5px; padding-right: 5px; margin-bottom: 4px; border: 1px solid transparent; }
.menu-dropdown-button:hover                                     { border: 1px solid #e8e8e8; background-color: #f2f2f2; border-radius: 4px; }
.menu-dropdown-button i.icon                                    { margin: 0px; padding: 0px; }
.menu-dropdown-button label                                     { padding-left: 5px; padding-right: 2px; cursor: pointer; }

.menu-dropdown-wrapper-button  .menu-dropdown-button .ui.button { margin: 0px; }
.menu-dropdown-wrapper-button  .menu-dropdown-button,
.menu-dropdown-wrapper-button  .menu-dropdown-button:hover      { border: 0px; background-color: none; padding: 0px; }

.ui.vertical.menu.menu-dropdown-lines                         { width: auto; min-width: 280px; height: auto; font-size: 14px; }
.ui.vertical.menu.menu-dropdown-lines .item                   { padding-left: 48px; line-height: 18px; }
.ui.vertical.menu.menu-dropdown-lines .item a:hover           { background-color: #f2f2f2; }
.ui.vertical.menu.menu-dropdown-lines .item i.icon            { display: inline-block; width: 37px; float: none;  text-align: center; margin-left: -41px; }
.ui.vertical.menu.menu-dropdown-lines .item                   { font-size: 14px; }
.ui.vertical.menu.menu-dropdown-lines .item .header i.icon    { width: 33px; }
.ui.vertical.menu.menu-dropdown-lines .item .header           { color: #939393; font-weight: normal;  }
.ui.vertical.menu.menu-dropdown-lines .item .menu .item       { padding-left: 45px; color: #000; }

.menu-dropdown-fade-enter                                     { opacity: 0; }
.menu-dropdown-fade-enter.menu-dropdown-fade-enter-active     { opacity: 1; -moz-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.menu-dropdown-fade-leave                                     { opacity: 1; }
.menu-dropdown-fade-leave.menu-dropdown-fade-leave-active     { opacity: 0; -moz-transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

.form-fieldset-parameters .menu-dropdown-button               { color: #fff; background-color: transparent; border: none; }


