/* Loader */
#loader                {display: none;position: fixed;top: 50%;left: 50%;width: 200px;height: 150px;margin: -25px 0 0 -100px;background-color: #e7e7e7;text-align: center;line-height: 50px;z-index: 9999;padding: 35px;}
body.loading #loader   { display: block; }

/* Partial overview */
.partial-overlay         { background: #fff;position: fixed;top: 0;left: 300px;right: 0;bottom: 0;z-index: 10;}
.partial-overlay-content { position: absolute; top: 90px; left: 50px; right: 50px; bottom: 50px; overflow-x: visible;overflow-y: auto; padding: 20px}
.partial-overlay-overlay { background: rgba(0, 0, 0, 0.1);position: fixed;top: 0;left: 0px;right: 0;bottom: 0;z-index: 9; pointer-events: none; }
.partial-overlay-close   { position: absolute;top: 15px;right: 20px;font-size: 40px !important;cursor: pointer;}

/* Iframe box */
.iframe-box { background: transparent url(../ember-c-base-pack/loader-iframe.gif) no-repeat 50% 100px; }

/* Avatar box */
.avatar-box               { vertical-align: middle; display: inline-block; overflow: hidden; }
.avatar-box.rounded > img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

/* Split box */
.split-window-double        { position: absolute; bottom: 0; left: 0; right: 0; }
.split-window-double > .win { position: absolute; bottom: 0; top: 0; overflow: hidden; overflow-y: auto; }


